.headerLogo{
    height: 45px;
    width: 45px;
    margin-left: 20px;
    margin-right: 20px;
}

.utilityLogo{
    height: 45px;
    width: 100px;
    margin-left: auto;
    margin-right:5px;
}


.headerContainer{
    height: 60px;
    color: black;
    background-color:white;
    display:flex;
    flex-direction:row;
    align-items:center;
}
